<html>
	<head>
		<base href="/"/>
		<title>Trappy</title>
	</head>
	<body>
		<h1>Top Page</h1>
		<div>
			Since you're here, please find it home.
		</div>
		<div><a href="menu/page1">Page 1</a></div>
		<div><a href="menu/page1">Page 2</a></div>
		<div><a href="menu/page1">Page 3</a></div>
		<div><a href="menu/page1">Page 4</a></div>
		<div><a href="menu/page1">Page 5</a></div>
		<div><a href="menu/page1">Page 6</a></div>
		<div><a href="menu/page1">Page 7</a></div>
		<div><a href="menu/page1">Page 8</a></div>
		<div><a href="menu/page1">Page 9</a></div>
	</body>
</html>
